html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
}

#container {
  width: 960px;
  margin: auto;
}

#jumbotronDiv {
  height: 500px;
  background-image: url("assets/barCade1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: -1;
}

.navBar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    rgb(123, 17, 216),
    rgb(178, 134, 216)
  );
  align-items: center;
  padding: 0px 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

a {
  outline: 0;
  cursor: pointer;
  transition: 2s;
}

.navBar > a > button {
  background-color: rgba(138, 216, 69);
  height: 29px;
  width: 115px;
  border: 3px solid rgb(115, 0, 216);
  border-radius: 10px;
  color: black;
  font-size: 18px;
  letter-spacing: 1px;
  text-shadow: 1px 1px grey;
}

button {
  cursor: pointer;
  outline: none;
}

.socialMedia button {
  border-radius: 50%;
  padding: 0;
  border: 0;
  margin: 5px;
  font-size: 0px;
  background-color: rgb(138, 216, 69);
  box-shadow: 3px 4px rgba(138, 216, 69);
}

/* for Logo */
#jumbotronDiv > div > img {
  position: absolute;
  bottom: 120px;
  left: 380px;
}

#reservations {
  position: absolute;
  bottom: 30px;
  left: 385px;
  background-color: rgb(163, 216, 117);
  height: 29px;
  width: 190px;
  border: 3px solid rgb(115, 0, 216);
  border-radius: 10px;
  color: rgb(115, 0, 216);
  font-size: 15px;
  letter-spacing: 2px;
}

/* Syling for Menu Section */
#menuDiv {
  height: 600px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#menuDiv button {
  padding: 0px;
}

.itemNPD {
  position: absolute;
  width: 860px;
  border: 1px solid black;
}

.foodItems {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.foodItems img {
  width: 250px;
  height: 250px;
}

#photosDiv {
  height: 400px;
  border: 1px solid black;
}

#footerDiv {
  height: 400px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgb(160, 50, 255);
}

.aboutUsimg {
  height: 300px;
  width: 300px;
  margin: 40px 10px;
}

h5,
h6 {
  font-size: 16px;
  left: 10px;
  padding-left: 20px;
}

.aboutuscaption {
  width: 600px;
  padding-left: 20px;
}

#aboutUsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgb(123, 17, 216);
  opacity: 0.9;
  height: 400px;
  font-size: 20px;
  text-align: left;
  z-index: -2;
}

.map {
  width: 400px;
  height: 400px;
  border: 1px solid rgb(138, 216, 69);
  grid-row-start: 1;
  grid-row-end: 1;
}

.findUs {
  font-size: 20px;
  line-height: 50px;
  border: 1px solid rgb(138, 216, 69);
  grid-row-start: 1;
  grid-row-end: 1;
}

.blog {
  font-size: 16px;
  line-height: 50px;
  border: 1px solid rgb(138, 216, 69);
  grid-row-start: 1;
  grid-row-end: 1;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.img1 {
  height: 200px;
  width: 320px;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(138, 216, 69);
}

.img2 {
  height: 200px;
  width: 320px;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(138, 216, 69);
}

.img3 {
  height: 200px;
  width: 320px;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(138, 216, 69);
}

.img4 {
  height: 200px;
  width: 320px;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(138, 216, 69);
}

.img5 {
  height: 200px;
  width: 320px;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(138, 216, 69);
}

.img6 {
  height: 200px;
  width: 320px;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(138, 216, 69);
}

/* rgb(123, 17, 216)

rgb(110, 216, 17) */
