html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 960px;
}

.aboutUsimg {
  height: 198px;
  width: 300px;
  position: relative;
  left: 658px;
  top: -249px;
}

h5,
h6 {
  position: relative;
  top: -20px;
  font-size: 16px;
  left: 10px;
}

.aboutuscaption {
  position: relative;
  width: 600px;
  top: -40px;
  left: 10px;
}

#aboutUsDiv {
  background: rgb(123, 17, 216);
  position: relative;
  opacity: 0.9;
  width: 100%;
  height: 200px;
  font-size: 20px;
  text-align: left;
  border: 1px solid rgb(110, 216, 17);
  margin: 5px;
  padding: 0;
}

/* rgb(123, 17, 216)

rgb(110, 216, 17) */
